<h1><center> Welcome, <%= @user.username %> </h1></center>
<br>
<h4><center> Happy to have you here! Remember there is no shame in asking for a helping hand.
<br>
We are here to support, guide and reassure that you are not alone. </center></h4>
<br>
<h5><center> Thank you for choosing us to facilitate your needs today. </center></h5>

<a href="/appointments/new"><input type="submit" style="width:150px; height:50px;" value="Set your Appointment"></a> 

<center><a href="/users/show"><input type="submit" style="width:150px; height:50px;" value="Edit your Appointment"></a></center>

<a href="/session/logout"><input type="submit" style="width:100px; height:50px; float: right;" value="Logout"></a>