<h1><center> Welcome, <%= @user.username %> </h1></center>
<br>
<h4><center> Happy to have you here! Remember there is no shame in asking for a helping hand.
<br>
We are here to support, guide and reassure that you are not alone. </center></h4>
<br>
<h5><center> Thank you for choosing us to facilitate your needs today. </center></h5>

<a href="/appointments/new"><input type="submit" style="width:auto; height:auto;" value="Set your Appointment"></a> 



<a href="/session/logout"><input type="submit" style="width:auto; height:auto; float: right;" value="Logout"></a>