<h1> Schedule your new appointment: </h1>

<form action='/appointments' method="POST">
    Date:  
    <input type="date" name="date">
    <br>
    <p>
    &emsp;&emsp;&emsp;&nbsp;MM/DD/YYYY
    <br>
    <P>
    
    Time: 
    <input type=text name="time">
    <br>
    &emsp;&emsp;&emsp;&nbsp;00:00 am/pm
    <br>
    <p>

    Therapist: 
    <input type=text name="therapist">
    <br>
    &emsp;&emsp;&emsp;&nbsp;Last name only. If none preferred, submit N/A 
    <br>
    <p>

    Insurance:  
    <input type=text name="insurance">
    <br>
    &emsp;&emsp;&emsp;&nbsp;Company, Policy number. If you prefer to be billed later, submit N/A.
    <br>
    <p>

    <input type="submit" name="btnSubmit" style="width:100px; height:50px;" value="Submit" />
<form> 