<h1> Schedule your new appointment: </h1>
<br>

<form action='/appointments' method="POST">
    Date:
        <input type="date" name="date" required>
    <br>
    <br>

    Time
        <input type="time" name="time" min="08:00" max="20:00" required>
    <br>
    <br>

    Email:
        <input type="email" name="email" placeholder="sophie@example.com" required>
    <br>
    <br>

    Name:
    <input type="text" name="name" required>
    <br>
    <br>

    <input type="submit" name="btnSubmit" style="width:100px; height:50px;" value="Submit" />

    </form>