<h1> Schedule your new appointment: </h1>

<form action='/appointments' method="POST">
    Date:  
    <input type="date" name="date"><span class="validity"></span>
    <br>
    <br>
    
    Time: 
    <input id="appt-time" type="time" name="appt-time" min="08:00" max="20:00" required>
    <br>
    <br>

    Therapist: 
    <input type="text" name="therapist">
    <br>
    &emsp;&emsp;&emsp;&nbsp;Last name only. If none preferred, submit N/A 
    <br>
    <br>

    Insurance:  
    <input type="text" name="insurance">
    <br>
    &emsp;&emsp;&emsp;&nbsp;Company, Policy number. If you prefer to be billed later, submit N/A.
    <br>
    <br>

    <input type="submit" name="btnSubmit" style="width:100px; height:50px;" value="Submit" />
<form> 