<div class="container">

<h1 class="welcome_title"><center> Welcome to Therapy with Ease. </center></h1>
<center> We are here to facilitate your needs. Not sure what that is? We will help discover that, <b>together.</b> </center>
<br>
<br>
Let's get started:
<br>
<a href="/users/signup"> Sign Up </a>
<br>
<br>
Already have an account?
<br>
<a href="/users/login"> Login </a>
</div>
