<div class="container">

<h1 class="welcome_title"> Here to facilitate your needs. </h1>
<h3> Not sure what that is? We will help discover that, together.</h3>
<br>
<p>
<a href="/users/signup"> Sign Up </a>
<br>
<p>
<a href="/users/login"> Login </a>
</div>
